body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #d814bb;
	color: white;
}
/* Reset some default styles for better consistency */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	background-color: #f0f0f0;
	color: #7b5656;
  }
  
  .container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
	text-align: center;
	margin-bottom: 30px;
	color: #007bff;
  }
  
  form {
	display: grid;
	grid-gap: 20px;
  }
  
  .form-group {
	display: grid;
  }
  
  label {
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  input,
  textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  textarea {
	resize: vertical;
  }
  
  .button {
	display: inline-block;
	padding: 10px 20px;
	background-image: linear-gradient(to bottom, #96a6b7, #c363de);
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-transform: uppercase;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.2s;
  }
  
  .button:hover {
	background-image: linear-gradient(to bottom, #96a6b7, #c363de);
  }
  